*{
    margin: 0;
    padding: 0;
    font-family:Quicksand ;
    /* background-color: #F7F7F7; */
}
/* navber section start */
.nav-container{
    display: flex;
    justify-content: space-around;
    max-height: 102px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 10px;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link-button{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-link-button a{
    text-decoration: none;
    margin-right: 32px;
}
.logo-title{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 11px;
}
.home{
    color: rgb(254, 163, 1);
    font-size: 1.25rem;
    font-weight: 700;
}
.about{
    color: rgb(1, 172, 253);
    font-size: 1.25rem;
    font-weight: 500;
}
.facilities{
    color: rgb(5, 212, 223);
    font-size: 1.25rem;
    font-weight: 500;
}
.admission{
    color: rgb(93, 88, 239);
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-btn{
    width: 197px;
    height: 50px;
    text-align: center;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}
#menu-ber{
    font-size: 30px;
    display: none;
}

/* navber section close */
/* hero section start */
.hero-section{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.hero-container{
    max-width: 1310px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
.hero-title{
    max-width: 640px;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.hero-color-1{
    color: rgb(254, 163, 1);
}
.hero-color-2{
  color:  rgb(1, 172, 253);
}
.hero-sub-title{
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 640px;
    margin-bottom: 24px;
}
.hero-btn{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    width: 197px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
}
.hero-container-details{
    margin-right: 50px;
}
/* hero section close */
/* curriculum section start */
.curriculum{
    max-width: 1920px;
    max-height: 879px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("assets/bg.png");
}
.curriculum-container{
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 60px 0;
    max-width: 1160px;
    max-height: 481px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.curriculum-box-1{
    max-width: 367.8px;
    max-height: 409.78px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    text-align: center;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    padding:50px  30px;
    margin-right:28px ;
}
.curriculum-title{
    color: rgb(0, 0, 0);
    font-size: 2.875rem;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 20px;
}
.curriculum-box-1-title{
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
    margin:  32px 0;
}
.curriculum-box-1-sub-title{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 0.9431rem;
    font-weight: 500;
    line-height: 28.3px;
    margin-bottom: 33px;
}
.curriculum-box-1 a{
    text-decoration: none;
    color: rgb(100, 200, 255);
    font-size: 0.93rem;
    font-weight: 700;
}
.curriculum-box-2{
    max-width: 367.8px;
    max-height: 409.78px;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    text-align: center;
    background:linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    padding:50px  30px;
    margin-right:28px ;
}
.curriculum-box-2 a{
    text-decoration: none;
    color: rgb(240, 170, 0);
    font-size: 0.93rem;
    font-weight: 700;
}
.curriculum-box-3{
    max-width: 367.8px;
    max-height: 409.78px;
    border:  0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    text-align: center;
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    padding:50px  30px;
    margin-right:28px ;
}
.curriculum-box-3 a{
    text-decoration: none;
    color: rgb(135, 0, 255);
    font-size: 0.93rem;
    font-weight: 700;
}
.arrow{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    color: white;
    background:  rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
}
.arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.arrow:hover{
 background-color: indigo;
 transition: all 0.3s ease-in;
}
/* curriculum section close */
/* stories section start */
.stories{
    max-width: 1920px;
    max-height: 1018px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    margin-top: 80px;
}
.stories-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.story-card-1{
    max-width:540px ;
    max-height:630px ;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-right: 19px;
}
.story-card-1-btn{
    width: 174.51px;
    height: 47.93px;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 0.958rem;
    font-weight: 500;
    position: relative;
    top: -29px;
    left: -127px;
}
.story-card-1 img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.story-container{
    max-width: 601px;
    max-height: 622px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19px;
}
.story-card-2{
    width: 290.69px;
    height: 301.61px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.story-card-2 img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.story-card-2-btn{
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    width:174.51px;
    height: 38.35px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 0.958rem;
    font-weight: 500;
    position: relative;
    top: -24px;
    left: -21px;
}
.story-card-2-sub-title{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 0.958rem;
    font-weight: 700;
    text-align: left;
    line-height: 28.76px;
    padding-left: 40px;
    padding-right: 30px;
}
.story-card-3-btn{
    border-radius: 47.93px;
    background: rgb(93, 88, 240);;
    width:174.51px;
    height: 38.35px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 0.958rem;
    font-weight: 500;
    position: relative;
    top: -24px;
    left: -21px;
}
.stories-title{
    color: rgb(0, 0, 0);
    font-size: 2.875rem;
    font-weight: 700;
    margin-bottom: 60px;
}
.card-1-title{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    padding-left: 60px;
    margin-bottom: 45px;
}
.card-1-sub-title{
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 0.958rem;
    font-weight: 500;
    padding-left: 60px;
    padding-right: 46px;
    text-align: left;
    line-height: 28.76px;
}
.story-btn-last{
    margin-bottom: 60px;
    border-radius: 12px;
    width: 197px;
    height: 50px;
    background: rgb(17, 17, 17);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.15rem;
    font-weight: 700;
}
/* stories section close */
/* footer section start */
.footer{
    max-width: 1920px;
    height: 520px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(1, 172, 253);
    color: white;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    width: 1108px;
    margin: 0 auto;
}
.footer-title{
    display: flex;
    color: white;
    margin-bottom: 30px;
    
}
.footer-title img{
height: 84px;
width: 82px;
background: white;

}
.heading-1{
    color: rgb(255, 255, 255);
    font-size: 2.625rem;
    margin-left: 10px;
    font-weight: 700;

}
.footer-column-1{
    max-width: 398px;
}
.footer-details{
    font-size: 1.25rem;
    font-weight: 400; 
}
.footer-links{
    display: flex;
    flex-direction: column;
}
.footer-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20px;
 
}
.school-title{
font-size: 1.5rem;
font-weight: 700;
margin-bottom: 20px;
}
.touch-title{
font-size: 1.625rem;
font-weight: 700;
margin-bottom: 32px;
}
/* footer section close */
.news{
    max-width: 1440px;
}
/* mobile device responsive start */
@media screen and (max-width:576px) {
    .logo-title{
        display: none;
    }
    .nav-link-button{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    #menu-ber{  
        display: block;
    }
    .nav-container{
        padding: 12px 16px;
        justify-content: space-between;
       border-bottom:  0.5px solid rgb(254, 163, 1);
    }
    .hero-container{
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center; 
    }
    .hero-container img{
        width: 100%;
    }
    .hero-title{
        font-size: 2rem;
        margin-bottom: 18px;
    }
    .hero-sub-title{
        margin-bottom: 18px;
    }
    .hero-container-details{
        margin-right: 0px;
    }
    .curriculum-container{
        flex-direction: column;
        margin-top: 500px;
        padding: 15px;   
    }
    .arrow-container{
        display: none;    
    }
    .curriculum-box-1{
        margin-bottom: 12px;
        margin-right: 0;
        max-height: 467px;
        padding: 30px 10px;
    }
    .curriculum-box-2{
        margin-bottom: 12px;
        margin-right: 0;
        max-height: 467px;
        padding: 30px 10px;
    }
    .curriculum-box-3{ 
        margin-right: 0;
        max-height: 467px;
        padding: 30px 10px; 
    }
    .curriculum-title{
        font-size: 1.625rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .story-card-1{
        display: none;
    }
    .stories-container{
        flex-direction: column;
    }
   .stories{
    max-height: auto;
    margin-top: 641px;
   }
   .story-container{
    max-width: 576px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 11px;
    padding: 20px;   
}
.story-card-2{
    width: auto;
    height: 190.59px;
    margin-left: 0;
    margin-right: 0;
    
}
.story-card-2-btn{
    width: 103.91px;
    height: 22.83px;
    font-size: 0.570rem;
    top: -17px;
    left: -13px;
}
.story-card-3-btn{
    width: 103.91px;
    height: 22.83px;
    font-size: 0.570rem;
    top: -17px;
    left: -13px;
}
.story-card-2-sub-title{
    font-size: 0.570rem;
    line-height: 17.12px;
    margin-top: -12px;
    padding-left: 30px;
    margin-right: 7px;
}
.stories-title{
    font-size: 1.625rem;
    margin-bottom: 30px;
}
.story-btn-last{
    width: 134px;
    height: 30px;
    font-size: 1rem;
    margin-bottom: 40px;
}
.footer-container{
    flex-direction: column;
    width: 642px;
    padding: 15px;
    margin-top: 40px;
}
.heading-1 {
   
    font-size: 2.1875rem;}
.footer-details {
        font-size: 1rem;
        margin-bottom: 20px;
   
    }
    .footer{
        height: 652px;
    }
}